#TheParkinsonProject {
  width: 100%;
  height: auto;

  .rest {
    position: absolute;
    top: 25vw;
    width: 100%;

    .mockup {
      margin: 0 15%;
      width: 70%;
      user-select: none;
      -webkit-user-drag: none;
    }
  }

  img {
    user-select: none;
    -webkit-user-drag: none;
  }
}

@import "./Header";
@import "./Over";
@import "./Probeer";
@import "./Functies";
@import "./Nieuwsbrief";
