#TheParkinsonProject{
  #probeer {
    width: 100%;
    height: 40vh;
    background: linear-gradient(to bottom left, $light-blue, $dark-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    * {
      color: $white;
      font-family: $Quicksand;
    }

    h1 {
      font-family: $QuicksandBold;
      font-size: calc(1.75vw + 1.75vh);
      letter-spacing: -0.1rem;
      margin-bottom: 2vh;
    }
    p {
      font-size: calc(0.7vw + 0.7vh);
      margin-bottom: 4vh;
    }
    .getOn {
      display: flex;
      align-items: center;
      margin: 0 25px;
      * {
        user-select: none;
        -webkit-user-drag: none;
      }
      .getApp {
        height: 5vh;
        padding: 1.1vh;
        cursor: pointer;

        &.android {
          height: 7.2vh;
          padding: 0;
        }
      }
    }
  }
}
