@mixin font($font-family, $font-file, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url($font-file+".eot");
    src: url($font-file+".eot?#iefix") format("embedded-opentype"), url($font-file+".woff") format("woff"),
      url($font-file+".ttf") format("truetype"), url($font-file+".svg#aller") format("svg");
    font-weight: $font-weight;
    font-style: normal;
  }
}

@include font("Product Sans", "../assets/fonts/ProductSans/ProductSansRegular", normal);
@include font("Product Sans Bold", "../assets/fonts/ProductSans/ProductSansBold", bold);
@include font("Product Sans Italic", "../assets/fonts/ProductSans/ProductSansItalic", normal);
@include font("Product Sans Bold Italic", "../assets/fonts/ProductSans/ProductSansBoldItalic", bold);
@include font("Droid Sans Mono", "../assets/fonts/DroidSans/DroidSansMono", normal);
